.BirthDateForm__row{
    display: flex;
    /* justify-content: space-between; */
}
.form__label{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    font-size:12px;
    letter-spacing: 2px;
    color:#716F6F;
}

.form__input{
    width:70%;
    padding:1rem;
    border-style: solid;
    border-radius: .5rem;
    border-color: #DCDCDC;
}

.form__group{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    width:30%;
}

.Icon{
    background-color: #854DFF;
    padding:1rem;
    border-radius: 50%;
    width:2rem;
    margin:2rem auto;
    position: relative;
    z-index: 5;
    transition:all .2s
}


.Icon:active{
    background-color: black;

}
button{
    border:none;
    background-color: transparent;
    width:95%;
    display: block;
    position: relative;
    overflow:hidden;
}
button:hover{
    cursor: pointer;
}

button::after{
    content:'';
    display: block;
    position: absolute;
    top:50%;
    left:0;
    width:100%;
    height:1px;
    background-color:#DCDCDC;
    transform: translateY(-50%);
    border: none;
}


.error{
    border:1px solid red;
}

@media screen and (min-width:1140px) {
    .Icon{
        position:relative;
        margin-left:88%;
    }
}